// Color variables
$brand-primary: #0f70f0;
$brand-secondary: #0c5ecb;
$brand-black: #000000;
$brand-white: #ffffff;
$brand-dark-gray: #767676;
$brand-gray: #cccccc;
$brand-light-gray: #ededed;
$brand-lightest-gray: #f7f7f7;
